<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>jsp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- servlet 등록, 해당 서블릿에서 처리를 할 url 등록 -->
	<servlet>
		<servlet-name>basicServlet</servlet-name>
		<servlet-class>kr.or.ddit.servlet.basic.BasicServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- servlet에서 처리할 url 매핑 -->
	<servlet-mapping>
		<servlet-name>basicServlet</servlet-name>
		<url-pattern>/basicServlet</url-pattern>
	</servlet-mapping>

	<!-- 실습 -->
	<servlet>
		<servlet-name>TimesTableServlet</servlet-name>
		<servlet-class>kr.or.ddit.servlet.basic.TimesTableServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TimesTableServlet</servlet-name>
		<url-pattern>/TimesTableServlet</url-pattern>
	</servlet-mapping>

		<!-- filter -->
<!-- 	<filter> -->
<!-- 		<filter-name>encoding</filter-name> -->
<!-- 		<filter-class>kr.or.ddit.filter.Encoding</filter-class> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>encoding</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping>	 -->
		
		
<!-- 	<filter> -->
<!-- 		<filter-name>requestCountFilter</filter-name> -->
<!-- 		<filter-class>kr.or.ddit.filter.RequestCounterFilter</filter-class> -->
<!-- 	</filter> -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>requestCountFilter</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->

<!-- 	<filter> -->
<!-- 	<filter-name>sessionCheckFilter</filter-name> -->
<!-- 	<filter-class>kr.or.ddit.filter.SessionCheckFilter</filter-class> -->
<!-- 	</filter> -->
	
<!-- 	<filter-mapping> -->
<!-- 	<filter-name>sessionCheckFilter</filter-name> -->
<!-- 	<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->

	<!-- error page 설정 -->
	<error-page>
		<error-code>404</error-code>
		<location>/error/404/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500/500.html</location>
	</error-page>

	<error-page>
		<!-- class full name : 패키지.클래스명 -->
		<exception-type>java.lang.ArithmeticException</exception-type>
		<location>/error/type/ariError.jsp</location>
	</error-page>

	<error-page>
		<!-- class full name : 패키지.클래스명 -->
		<exception-type>java.lang.RuntimeException</exception-type>
		<location>/error/type/runError.jsp</location>
	</error-page>

	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/oracleDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

</web-app>